<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='main.css') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <title>Upload scans</title>
  </head>



<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">EL foad cardiology</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		  <div class="navbar-nav">

        <a class="nav-item nav-link active" href="{{url_for('Patient_homepage')}}">Home <span class="sr-only">(current)</span></a>

			
			<a class="nav-item nav-link" href="{{url_for('home')}}">Sign out</a>
			<img srcset="https://img.icons8.com/nolan/64/export.png 2x"/>
	
			
		  </div>
		</div>
	  </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container ratecont">
          <h1 class="display-4" style="text-align: center;">Check your scan below!</h1>
        </div>
    </div>
    <div class="row justify-content-center" style="padding-bottom: 20px;">
      <img src=" {{url_for('send_image', filename=oppa)}}">
    </div>
</body>
<footer id="footer">
  
  <p class="footertxt">© Copyright 2021 Elfoad cardiology</p>
  
</footer>
</html>